/*
Notice that some pixel sizes in this css file are set using schema
    font-size: scaled_12px;
etc.
These scaled_*px values are multiplied with the current ToolbarFramework::Parameters::scaleFactor();
That means that this css file cannot be used "as-is", but it is a template to be translated in cpp.
*/

QScrollArea {
    background-color: transparent;
}

QDialog#teamOnboardingWizard {
    border: 1px solid #D2D2D2;
    background-color: #FFFFFF;
}

QFrame{
    background-color: transparent;
}

QFrame#headerFrame{
    border-bottom: 0px solid #D2D2D2;
    background-color: transparent;
}

QFrame#mainFrame{
    border-bottom: 0px solid #D2D2D2;
    background-color: transparent;
}

QLabel {
    color: #6C6C6C;
    font-size: scaled_16px;
}

QLabel:disabled {
    color: #999999;
}

QLabel#titleLabel {
    font-size: scaled_24px;
    color: #6C6C6C;
}

QLabel#checklistLabel {
    font-size: scaled_16px;
    color: #6C6C6C;
}

QCheckBox#checkBox {
    background-color: transparent;
    font-family: Arial, Sans-Serif;
    color: #666666;
    font-size: scaled_13px;
}

QFrame#mainFrame {
    margin-top: 0px;
    margin-bottom: 0px;
}

QTreeView {
    qproperty-indentation: 60;
}

#table {
    background-color: transparent;
    font-family: Arial, Sans-Serif;
    font-size: scaled_14px;
    border: none;
    color: #4D4D4D;
    padding: 0px;
    margin-left: 0px;
}

QTreeWidget::item {
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: Arial, Sans-Serif;
    font-size: scaled_14px;
}

#noUpdateLabel {
    font-family: Arial, Sans-Serif;
    font-size: scaled_16px;
    color: #A5A5A5;
}

#receiveDataLabel {
    font-family: Arial, Sans-Serif;
    font-size: scaled_24px;
    color: #A5A5A5;
}

QPushButton {
    background-color: transparent;
    font-size: scaled_12px;
    border-radius: 3px;
    padding: 9px 16px 8px 16px;
    color: #6C6C6C;
}

QPushButton#createTeamButton {
    padding: 10px 40px 10px 40px;
    background-color: #00A6E2;
    border: 1px solid #00A6E2;
    color: #FFFFFF;
}

QPushButton#createTeamButton:disabled {
    background-color: #A5E0F5;
    border: 1px solid #A5E0F5;
}

QPushButton#createTeamButton:hover {
    background-color: #3AB5E1;
    border: 1px solid #3AB5E1;
}

QPushButton#createTeamButton:pressed {
    background-color: #007EC0;
    border: 1px solid #007EC0;
}

QPushButton#learnMoreButton {
    padding: 10px 40px 10px 40px;
    background-color: #FAFAFA;
    border: 1px solid #A2A2A2;
}

QPushButton#learnMoreButton:disabled {
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
    color: #D2D2D2;
}

QPushButton#learnMoreButton:hover {
    background-color: #FFFFFF;
    border: 1px solid #D2D2D2;
}

QPushButton#learnMoreButton:pressed {
    background-color: #EAEAEA;
    border: 1px solid #ADADAD;
}

QHeaderView {
    background-color: transparent;
    font-family: Arial, Sans-Serif;
    font-size: scaled_14px;
    font-weight: bold;
    color: #A5A5A5;
    border-bottom: 1px solid #B4B4B4;
}

QHeaderView::section {
    background-color: transparent;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    text-transform: uppercase;
}

QHeaderView::section:horizontal:first {
    padding-left: 63px;
}
