/*
Notice that some pixel sizes in this css file are set using schema
    font-size: scaled_12px;
etc.
These scaled_*px values are multiplied with the current ToolbarFramework::Parameters::scaleFactor();
That means that this css file cannot be used "as-is", but it is a template to be translated in cpp.
*/

QObject {
    font-family: Arial, Sans-Serif;
}

QDialog {
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    background-color: white;
}

QFrame {
    background-color: transparent;
}

QLabel {
    color: #6C6C6C;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: scaled_12px;
}

#Header {
    background-color: transparent;
    border-bottom: 1px solid #D2D2D2;
    padding: 16px;
    margin: 0px;
}

#HeaderMac {
    background-color: transparent;
    border-bottom: 1px solid #D2D2D2;
    padding: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0px;
}

#HeaderLabel {
    font-size: scaled_16px;
    font-weight: 500;
    color: #6C6C6C;
    margin: 0px;
    padding: 0px;
}

#HeaderLabelMac {
    font-size: scaled_16px;
    font-weight: bold;
    color: #6C6C6C;
    margin: 0px;
    padding: 0px;
    margin-top: 2px;
}

#HeaderIcon {
    margin: 0px;
    padding: 0px;
    margin-right: 12px;

}

#CloseButton {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

#Body {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

#BodyLabel {
    padding-top: 0px;
    padding-bottom: 12px;
}

#BodyLabel2Mac {
    margin-left: 1px;
}

#Footer {
    margin-top: 8px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

QPushButton {
    border: 1px solid #cccccc;
    color: #3c3c3c;
    background-color: white;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: scaled_12px;
}

QPushButton:hover {
    border-color: #bbbbbb;
    color: #3c3c3c;
    background-color: #eeeeee;
}

QPushButton:pressed {
    border-color: #bbbbbb;
    color: #3c3c3c;
    background-color: #dcdcdc;
}

QPushButton#SubscribeButton {
    background-color: #0696d7;
    border-color: #0696d7;
    /*
    background-color: #faa21b;
    border: 1px solid #faa21b;
    */
    color: white;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: scaled_12px;
}

QPushButton#SubscribeButton:hover {
    background-color: #0686c2;
    border-color: #0686c2;
    /*
    background-color: #fbb549;
    border-color: #fbb549;
    */
}

QPushButton#SubscribeButton:pressed {
    background-color: #006eaf;
    border-color: #006eaf;
    /*
    background-color: #fcc776;
    border-color: #fcc776;
    */
}

#ColorBar {
    background-color: #ec4a41;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
