QFrame#HeaderFrame{
	border-bottom: 1px solid #D2D2D2;
	background-color: transparent;
}

QLabel {
	color: #666666;
	font-size: scaled_12px;
}

QLabel:disabled {
	color: #999999;
}

QLabel#titleLabel {
    font-family: Arial, Sans-Serif;
	font-size: scaled_24px;
	color: #6C6C6C;
}

QPushButton {
	background-color: transparent;
	font-size: scaled_12px;
	border-radius: 3px;
	padding: 9px 16px 8px 16px;
	color: #6C6C6C;
}

QFrame#separator {
	color: #D2D2D2;
}

QFrame#standardActionsFrame {
	background-color: transparent;
}

QTreeWidget#filesTable2 {
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
	border: none;
	color: #6c6c6c;
}

QFrame#JobManagerDlg {
	border: 1px solid #D2D2D2;
	background-color: #FFFFFF;
}

QPushButton#minimizeButton {
	background-color: transparent;
	border: none;
}

QTreeWidget::item {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
}

QPushButton#closeBottomButton {
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
	border-radius: 3px;
	padding: 10px 40px 10px 40px;
	color: #6E6E6E;
	background-color: #FAFAFA;
	border: 1px solid #A2A2A2;
}

QPushButton#closeBottomButton:disabled {
	color: #B7B7B7;
	background-color: #FDFDFD;
	border: 1px solid #D1D1D1;
}

QPushButton#closeBottomButton:hover {
	background-color: #FFFFFF;
	border: 1px solid #C9C9C9;
}

QPushButton#closeBottomButton:pressed {
	background-color: #E8E8E8;
	border: 1px solid #A1A1A1;
}

QHeaderView {
	background-color: transparent;
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
	font-weight: bold;
	color: #A5A5A5;
	border-bottom: 1px solid #B4B4B4;
}

QHeaderView::section {
	background-color: transparent;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 3px;
}

QHeaderView::section:horizontal:first {
	padding-left: 63px;
}

QTreeView::branch {
	padding-left: 34px;
}

#generativedesignsTable::branch {
    image: none;
}

#simulationsTable::branch {
	image: none;
}

QTreeView {
	qproperty-indentation: 60;
}

#uploadsTable, #generativedesignsTable, #simulationsTable, #fusionDmTable {
	background-color: transparent;
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
	border: none;
	color: #4D4D4D;
	padding: 0px;
	margin-left: 0px;
}

#noUploadsLabel, #noSolvesLabel, #fusionDmNoItemsLabel {
	font-family: Arial, Sans-Serif;
	font-size: scaled_14px;
	color: #A5A5A5;
}

#generativedesignsTable {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#simulationsTable {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#uploadsTable::item, #generativedesignsTable::item, #simulationsTable::item, #fusionDmTable::item {
	height: 34px;
	padding: 0;
	margin: 0;
	padding-right: 68px;
}

QFrame#uploadsTabFrame, QFrame#generativeDesignsTableFrame, QFrame#simulationsTableFrame, QFrame#fusionDmTabFrame {
    margin-top: 0px;
    margin-bottom: 0px;
}

QTabWidget {
	font-family: Arial, Sans-Serif;
	font-size: scaled_16px;
}

QTabWidget::pane {
	border: 0px none;
}


/* Tab Bar */
#tabSwitcher {
}

/**
 * QPushButton height is set in QTJobManagerDlg#addTab(QWidget*, const QString&, const QString&)
 */
QTabBar::tab, 
QPushButton#uploads, 
QPushButton#generativedesigns, 
QPushButton#simulations, 
QPushButton#update, 
QPushButton#projectTransfer {
    background-color: white;
    border-bottom: 1px solid #D8D8D8;
    border-radius: 0px;
    font-family: Arial, Sans-Serif;
    font-weight: bold;
    font-size: scaled_14px;
    color: #242E4F;
    padding: 0;
    margin: 0;
}

QPushButton#uploads:hover, 
QPushButton#generativedesigns:hover, 
QPushButton#simulations:hover, 
QPushButton#update:hover, 
QPushButton#projectTransfer:hover {
	color: #00A6E6;
}

QPushButton#uploads:pressed, QPushButton#generativedesigns:pressed, QPushButton#simulations:pressed {
	color: #007EC0;
}

QTabBar::tab:first, QPushButton#uploads {
}

QTabBar::tab:last, QPushButton#simulations {
}

QTabBar::tab:selected, 
QPushButton#uploads:checked, 
QPushButton#generativedesigns:checked, 
QPushButton#simulations:checked, 
QPushButton#update:checked, 
QPushButton#projectTransfer:checked {
	background: white;
	color: #00A6E2;
	border-bottom: 2px solid #00A6E2;
}

QTabWidget::tab:disabled {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

QTabWidget::tab-bar {
	alignment:center;
}

QScrollBar {
	height: 10px;
	width: 8px;
	background: #FCFDFF;
	margin-top: 35px;
}

QScrollBar::handle {
	border-radius: 3px;
	background: #C2C2C2;
}

QScrollBar::handle:hover {
	background: #979797;
}

QScrollBar::add-page, QScrollBar::sub-page {
	background: none;
}

/*
Without height, width set to 0,
the control is invisible but still there.
When the handle is at the top / bottom,
it is not possible to drag the handle because on top of it
there is the invisible sub-line, add-line control.
UP-26722
*/
QScrollBar::sub-line, QScrollBar::add-line {
	height: 0px;
	width: 0px;
	background: none;
}

QAbstractScrollArea::corner {
	background: transparent;
}

