.spinner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 28px;
    height: 28px;
    margin: auto;
    z-index: 10;
}

.spinner .spin{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    background-image: url(../../assets/spinner.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    animation: spinAnimation 1.5s linear infinite;
    -webkit-animation: spinAnimation 1.5s linear infinite;

}

@-webkit-keyframes spinAnimation{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/*smaller version*/

.spinnerSmall{
    position: absolute;
    top: 0;
    right: 0;
    width: 14px;
    height: 14px;
    margin: auto;
    z-index: 10;
}

.spinnerSmall .spin{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    background-image: url(../../assets/spinner.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 13px;
    height: 13px;
    animation: spinAnimation 1.5s linear infinite;
    -webkit-animation: spinAnimation 1.5s linear infinite;
}
